Erweiterung SchulConneX Schemas um anwendungsfallspezifische Attribute

# Erweiterung von Schemas um anwendungsfallspezifische Attribute

* Zugehörige Dateien - [rfc7643.pdf](https://github.com/SchulConneX/v1/files/14406057/rfc7643.pdf), [rfc7644.pdf](https://github.com/SchulConneX/v1/files/14406061/rfc7644.pdf)
* Verwandte Issues - https://github.com/SchulConneX/v1/issues/11

## Motivation

* Wir ([Schullogin](https://schullogin.de)) wollen SchulConneX nutzen.
* Wir brauchen anwendungsfallspezifische Anpassungen.
* SCIM bildet die Erweiterung von Daten um anwendungsfallspezifische Attribute ab.
* Wir sehen für die Anlehnung an das Modell von SCIM die Möglichkeit Erweiterungen vor dem Einfließen in das Datenmodell des Standards zu testen und die Validierbarkeit der Daten, wenn diese in entsprechenden Objekten enthalten sind, bleibt erhalten bzw. wird für die Erweiterungsdaten geschaffen.

## Erweiterung Schema 

### Beispiel Person

```json
{
    "person": {
        "schemas": [
            "urn:vidis:params:schulconnex:schemas:core:1.0:Person",
            "urn:schullogin:params:schulconnex:schemas:core:1.0:PersonExtension"
        ],
        "referrer": "a141e5ce-7a86-4f92-a600-923d83a5107f",
        "name": {
            "familienname": "Muster",
            "vorname": "Max"
        },
        "geschlecht": "m",
        "lokalisierung": "de",
        "vertrauensstufe": "VOLL"
        "urn:schullogin:params:schulconnex:schemas:core:1.0:PersonExtension": {
            "anwendungsfall_spezifisches_neues_attribut": "beispiel"
        }
    }
}
```

### Erläuterungen

* Die Definition der übermittelten Daten innerhalb eines Objekts erfolgt über die Angabe des `schemas`-Attributs, die einzeln definiert und über einen gesonderten Endpunkt (siehe unten) abgefragt werden können.
* Es gibt Basis-Schemas für die im SchulConneX-Standard definierten Schemas (`Person`, etc.).
* Wenn kein `schemas`-Attribut für ein übermitteltes Objekt angegeben wird, gilt das Basis-Schema. Sobald das Attribut `schemas` angegeben wird, müssen alle genutzten Schemas (inkl. des Basis-Schemas) angegeben werden. Dadurch wird ein Breaking Change zu bestehenden Versionen verhindert.
* Die Attribute von Schema-Erweiterungen (i.e., nicht das Basis-Schema) werden in einem Objekt innerhalb des gesamten Objekts gehalten, welches durch den Namen des Schemas als Key identifiziert wird. --> Definition SCIM: Die Schema-Attribute "caseExact" und "uniqueness" sind nicht konfigurierbar und standardmäßig auf false bzw. "none" gesetzt.

### API Endpunkt

Zur Abfrage der Basis-Schema (vorgegeben durch SchulConneX-Standard) und der serverseitig-definierten Schema-Erweiterungen soll ein Endpunkt vergleichbar zum `/Schemas`-Endpunkt definiert in RFC 7644 Section 4 verwendet werden. Im Gegensatz zu RFC 7644 soll der Endpunkt aber nicht das darin definierte Datenformat zur Beschreibung der Schemas-Schemas sondern eine valide JSON-Schema-Definition, welche dann direkt zur Validierung der in einem übermittelten Objekt enthaltenen Daten genutzt werden kann.

Wir, die IServ GmbH, schlagen in https://github.com/Schulconnex/v1/issues/11 etwas ähnliches vor, wie bereits einleitend etwähnt. Wir könnten auch mit diesem Vorschlag sehr gut leben.

Erledigt https://github.com/Schulconnex/Schulconnex/